.main-menu a:hover,
.main-menu a:focus,
.main-menu a:active{
    color: #ECF0F1 !important;
    background-color: transparent !important;
}
.color-2{
     color:  #ECF0F1 !important;
}
#pocetna .navbar-default .navbar-nav > li > a:hover, 
#pocetna .navbar-default .navbar-nav > li > a:focus {
  color: #ECF0F1 !important;
  background-color: transparent;
}
.main-menu .navbar-nav > .active > a,
.main-menu .navbar-nav > .active > a:hover, 
.main-menu .navbar-nav > .active > a:focus{
    color: #ECF0F1 !important;
    background-color: transparent !important;
}
#portfolio .nav-tabs > li.active > a, 
#portfolio .nav-tabs > li.active > a:hover, 
#portfolio .nav-tabs > li.active > a:focus{
    color: #ECF0F1 !important;
}