.color-1{
     color: #000000 !important;
}
.main-menu  .navbar-nav > li > a{
     color: #000000 !important;
}
section h2 span h::after {
    border-bottom-color: #000000 !important;
}
#portfolio a{
    color: #000000 !important;
}
