@{
    ViewBag.Title = "Home Page";
}

<input type="hidden" id="activeLink" value="indexLink"/>
<h1>Портфолио</h1> 
<br/>
<p>MVC апликација која ќе овозможи регистрирање на поединци и фирми, со цел креирање и уредување на сопствено портфолио претставено преку веб сајт.</p>